<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="css/notes.css" />
    <script defer src="js/notesUse.js"></script>
  </head>
  <body>
    <%- include('../includes/body.ejs') %>
      <section class="show--content">
        <article class="first--content">
          <div class="text--box">
            <form action="/admin/addToSheet" method="post">
            <textarea
              name="note"
              id=""
              cols="30"
              rows="17"
              class="text--area"
              spellcheck="true"
              
            ><%=actualSheet%> </textarea>
          </div>
        </article>
        <article class="options">
          <div>
          <button type="submit" class="Add">Dodaj</button>
          <select name="sheets" class="choose--sheet" id="">
            <% for(const name of Object.keys(sheetsList)) { %>
            <option value="<%=name %>"><%= name%></option>
            <%}%>
          </select>
        </form>
        </div>
         <div>
          <form action="/admin/newSheet"  method="post">
        <input type="text" name="sheetName" class="choose--sheet" >
          <button type="submit" class="Add">Dodaj</button>
        </form>
        </div>
        <form action="/admin/showSheet" method="post">
          <select name="sheets" class="which--sheet list--sheets" id="">
            <% for(const name of Object.keys(sheetsList)) { %>
            <option value="<%=name%>"><%= name%></option>
            <%}%>
          </select>
          <button type="submit" class="Add show">Wyświetl</button>
        </form>
        </article>

      </section>
    </main>
  </body>
</html>
