<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/calendar.css">
</head>
<body>
    <%- include('includes/body.ejs') %>
    <section class="calendar--box">
            <article class="info">
                <h2 class="name--month"><%=month+1%></h2>
              </article>
              <article class="month">
                  <% for(let op = 1; op < daysInMonth; op++) {  const x = `${year}-${month+1}-${op}`%>
                    <article class="day">
                      <p class="number--day"><%=op%></p>
                      <% for(let dayEvent of eventList){%>
                        <%for(let event of dayEvent) {%>
                        <% if(event.day == x ){ %>
                            <p><%=event.title%></p>
                        <%}%>
                        <%}%>
                        <%}%>
                    </article>
               <% } %>    
        </article>
        </article>
    </section>

</body>
</html>