<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/body.ejs') %>
    <section class="calendar--box">
            <article class="info">
                <h2 class="name--month"><%= year%></h2>
                <form action="/admin/previous" method="post">
                  <button class="move--button " type="submit"><span class="arrow"><</span></button>
                </form>
                <h2 class="name--month"><%= actualMonth%></h2>
  
                <form action="/admin/next" method="post">
                  <button class="move--button" type="submit"><span class="arrow">></span></button>
                </form>
                </select>
              </article>
              <article class="month">
                  <% for(let op = 1; op < daysInMonth; op++) {  const x = `${year}-${month}-${op}`%>
                    
                    <article class="day">
                      <p class="number--day"><%=op%></p>
                      <% for(let event of eventList){  %>
                        <% if(event.day == x ) { %>
                            <p>event.title</p>
                        <%}%>
                        <%}%>
                      <div class="events">
                      </div>
                    </article>
                 
               <% } %>
                
        </article>
    </section>

</body>
</html>