<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/librusDashboard.css">
<script></script>
  </head>
  <body>
    <%-include('includes/body.ejs') %>
       <section class="show--content">
        <article class="part--box">
        <article class="new--notifications">
          <h2 class="box--title">Powiadomienia</h2>
          <ul class="notifications--list">
            <% for(let [name, value] of Object.entries(notifications)) {
              %>
            <li class="notifications--list--element"><%=name%>: <%=value%></li>
            <%} %>
          </ul>
        </article>
        <article class="new--notifications">
          <h2 class="box--title">Infomacje o uczniu</h2>
          <p class="user--data">Imię i nazwisko: <%= accInfo.student.nameSurname%></p>
          <p class="user--data">Klasa: <%= accInfo.student.class%></p>
          <p class="user--data">Numer w dzienniku: <%= accInfo.student.index%></p>
          <p class="user--data">Wychowawca: <%= accInfo.student.educator%></p>
          <p class="user--data">Login: <%= accInfo.account.login%></p>
            
          </ul>
        </article>
        <article class="new--notifications">
          <h2 class="box--title">Ogłoszenia</h2>
          <figure class="icon--link--box">
            <a href="/annoucments"><img src="images/arrow-right-to-bracket-svgrepo-com.svg" alt="" class="icon--link">
            </a>
          </figure>
        </article>
        <article class="new--notifications">
          <h2 class="box--title">Wiadomości</h2>
          <figure class="icon--link--box">
            <a href=""><img src="images/arrow-right-to-bracket-svgrepo-com.svg" alt="" class="icon--link">
            </a>
          </figure>
        </article> <article class="new--notifications">
          <h2 class="box--title">Zadania</h2>
          <figure class="icon--link--box">
            <a href=""><img src="images/arrow-right-to-bracket-svgrepo-com.svg" alt="" class="icon--link">
            </a>
          </figure>
        </article>
        </article>
        <article class="part--box">
        <article class="new--notifications">
          <h2 class="box--title">Szczęśliwy numerek</h2>
          <p class="lucky--number"><%=luckyNumber%></p>
        </article>
        <article class="new--notifications">
          <h2 class="box--title">Nabliższe wydarzenia</h2>
          <ul class="events--list">
             <% let count = 0; for(let el of calendar){if(el.length > 0 && count < 6){ count++ %> <li class="events--list--element"><%= el[0].day %>: <%= el[0].title %></li> <% }} %>  
          </ul>
        
        </article>
        <article class="new--notifications">
          <h2 class="box--title">Oceny</h2>
          <figure class="icon--link--box">
            <a href="/grades"><img src="images/arrow-right-to-bracket-svgrepo-com.svg" alt="" class="icon--link">
            </a>
          </figure>
                </article>
                <article class="new--notifications">
                  <h2 class="box--title">Terminarz</h2>
                  <figure class="icon--link--box">
                    <a href="/calendarLibrus"><img src="images/arrow-right-to-bracket-svgrepo-com.svg" alt="" class="icon--link">
                    </a>
                  </figure>
                        </article>
                        <article class="new--notifications">
                          <h2 class="box--title">Obecność</h2>
                          <figure class="icon--link--box">
                            <a href=""><img src="images/arrow-right-to-bracket-svgrepo-com.svg" alt="" class="icon--link">
                            </a>
                          </figure>
                                </article>
        </article>
          </section>
      </main>
  </body>
</html>
